### Immutability

The value of some objects can change. Objects whose value can change are said to be **mutable**; objects whose value is unchangeable once they are created are called **immutable**.

In [20]:
x = 10
y = x
print(id(x),  id(y))
x = x+1
print(x, y, id(x), id(y))
x = 12
print(x, y, id(x), id(y))

print("--------------------")

arr = [1,2,3,4,5]
print(arr[0], id(arr[0]), id(arr[1]), id(arr))

arr[0]=arr[0]*2
print(arr[0], id(arr[0]), id(arr[1]), id(arr))

1441903104 1441903104
11 10 1441903136 1441903104
12 10 1441903168 1441903104
--------------------
1 1441902816 1441902848 3033460746248
2 1441902848 1441902848 3033460746248

### List vs Tuples

List is mutable.
Tuple is immutable.

In [23]:
my_list = [1, 2, 3]
my_tuple = (10, 20, 30)
print(my_list[0])
print(my_tuple[0])

print("-----------------------")

my_list = [1, 2, 3]
my_tuple = (10, 20, 30)
print(id(my_list), id(my_tuple))

my_list[0] = 100
print(my_list)
print(id(my_list), id(my_tuple))

my_tuple[0] = 100

1
10
-----------------------
3033460693320 3033460800104
[100, 2, 3]
3033460693320 3033460800104

TypeError: 'tuple' object does not support item assignment

In [25]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
print(id(my_list))
print(id(my_tuple))
print()

my_list += [4, 5, 6]
my_tuple += (4, 5, 6)
print(my_list, my_tuple)

print(id(my_list))
print(id(my_tuple))

3033461384072
3033461372320

[1, 2, 3, 4, 5, 6] (1, 2, 3, 4, 5, 6)
3033461384072
3033433324520

### Immutable data types 
#### int, float, string etc

In [29]:
number = 42
print(id(number))

number = 67
print(id(number))

number += 1
print(id(number))

print("------------------------")

text = "Data Science"
print(text, id(text))

text += " with Python"
print(text, id(text))

1441904128
1441904928
1441904960
------------------------
Data Science 3033460984048
Data Science with Python 3033461600544

In [ ]:
#### Copying

In [1]:
list1 = [4, 5, 6]
list2 = list1
print(id(list1))
print(id(list2))

print("-----------------------")
list1.append(7)
print(list1 is list2)
print(list1)
print(list2)

print("-----------------------")
list2.extend([6,7,8])
print(list1 is list2)
print(list1)
print(list2)

2535576844680
2535576844680
-----------------------
True
[4, 5, 6, 7]
[4, 5, 6, 7]
-----------------------
True
[4, 5, 6, 7, 6, 7, 8]
[4, 5, 6, 7, 6, 7, 8]

In [2]:

text = "Python"
text2 = text
print(id(text))
print(id(text2))
print(text is text2)
print()

text += " is awesome"
print(id(text))
print(id(text2))
print(text is text2)
print()

print(text)
print(text2)

2535508019048
2535508019048
True

2535576976600
2535508019048
False

Python is awesome
Python

**==** operator vs **is**

**==**  Compares the values

**is**  Compares the identities / id()s

In [10]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [1, 2, 3, 4, 5]
print(list_1 == list_2)
print(list_1 is list_2)

print("------------")
print(id(list_1) , id(list_2))
print(id(list_1) == id(list_2))
print(id(list_1) is id(list_2))

print("------------")
list_3 = list_1
print(id(list_1) , id(list_3))
print(id(list_1) == id(list_3))
print(id(list_1) is id(list_3))

print(list_1 == list_3)
print(list_1 is list_3)

True
False
------------
2535577059976 2535577059912
False
False
------------
2535577059976 2535577059976
True
False
True
True

In [19]:
skills = ["Programming", "Machine Learning", "Statistics"]
person = (129392130, skills)
print(id(person), id(skills))

print(type(person))
print(person)

skills[2] = "Maths"
print(person)

person += (2,8)
print(person)

print(person[0], id(person), id(skills))

person[3] = 9

2535575933320 2535576777864
<class 'tuple'>
(129392130, ['Programming', 'Machine Learning', 'Statistics'])
(129392130, ['Programming', 'Machine Learning', 'Maths'])
(129392130, ['Programming', 'Machine Learning', 'Maths'], 2, 8)
129392130 2535576440728 2535576777864

TypeError: 'tuple' object does not support item assignment

In [21]:

p_id = 42
age = 24
skills = ("Python", "pandas", "scikit-learn")
info = (p_id, age, skills)
print(id(p_id))
print(id(age))
print(info)

p_id = 50
age += 1
skills += ("machine learning", "deep learning")
print(id(p_id))
print(id(age))
print(info)

1441904128
1441903552
(42, 24, ('Python', 'pandas', 'scikit-learn'))
1441904384
1441903584
(42, 24, ('Python', 'pandas', 'scikit-learn'))