In [3]:
import pandas as pd 
import numpy as np 
df = pd.DataFrame({'v': [1, 2, 3], 'w': [10, -10, 11]}) 
df['z'] = np.where(df['v'] < df['w'], df['w'], df['v'] + 1)

df

   v   w   z
0  1  10  10
1  2 -10   3
2  3  11  11

In [6]:
import pandas as pd 
import numpy as np 
df = pd.DataFrame({'v': [1, 2, 3], 'w': [10, -10, 11]}) 
def compare(v, w): 
   if v < w and w < 10 and v > 5: 
      return v 
   elif w >= 10: 
      return w 
   else: 
      return 15 
 
 
v_compare = np.vectorize(compare) 
print(df)
df['z'] = v_compare(df['v'], df['w']) 

df

   v   w
0  1  10
1  2 -10
2  3  11

   v   w   z
0  1  10  10
1  2 -10  15
2  3  11  11