# Sets

##### Method 1

In [2]:
s = set([1,2,3,4,5,6,7,8, 1,2,3,4])
s

{1, 2, 3, 4, 5, 6, 7, 8}

##### Method 2

In [16]:
s1 = {22,12,3,4,5,6, 5, 6,7,8}
s1 = {'dsg', 'asfasf', 1}
s1

{1, 'asfasf', 'dsg'}

##### Declare empty set

In [12]:
s2 = set()

s3 = {}    # creates empty dictionary

s2, s3

(set(), {})

##### Mutable datatypes cannot be an element in a set  eg: list

In [25]:
s1 = {[1,2,3], 12, 13}
s1

TypeError: unhashable type: 'list'

##### Any immutable datatypes can be an element in a set  eg: string, integer, tuple

In [24]:
s1 = {(1,2,3), 12, 13}

s2 = ({'a':9, 'b':'mm'}, 1,2,3)
s1, s2

({(1, 2, 3), 12, 13}, ({'a': 9, 'b': 'mm'}, 1, 2, 3))

In [27]:
s1.add(9)
s1

{(1, 2, 3), 12, 13, 9}

In [29]:
s1.update([5,6,7,8,4])
s1

{(1, 2, 3), 12, 13, 4, 5, 6, 7, 8, 9}

In [ ]:
s1.update(s2, s3)
s1

In [30]:
s1.remove(12)
s1

{(1, 2, 3), 13, 4, 5, 6, 7, 8, 9}

In [31]:
s1.remove(12)

KeyError: 12

In [33]:
s1.discard(12)
s1

{(1, 2, 3), 13, 4, 5, 6, 7, 8, 9}

In [43]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

s4 = s1.intersection(s2, s3)
s4

{3}

In [45]:
s4 = s1.difference(s2)
s5 = s2.difference(s1)
s4, s5

({1}, {4})

In [48]:
s6 = s1.difference(s2,s3)
s7 = s2.difference(s1,s3)
s8 = s3.difference(s1,s2)
s6, s7, s8

({1}, set(), {5})

##### Symmetric difference

In [49]:
s9 = s1.symmetric_difference(s2)
s9

{1, 4}

## Uses: To remove duplicates from a list

In [51]:
list1 = [1,2,3,4,5,3,4,5,5]

list2 = list(set(list1))
list2

[1, 2, 3, 4, 5]

In [59]:
employees = ['Corey', 'April', 'Jim', 'Steven', 'Judy', 'Jenn', 'John']
gym_members = ['April', 'Corey', 'Jane']
developers = ['Judy', 'Corey', 'Steven', 'Jane', 'April']

# Find employees who are both gym members and developers
result = set(employees).intersection(gym_members, developers)
print(result)

# Find employees who are not gym members
result = set(employees).difference(gym_members)
print(result)

# Find employees who are neither gym members nor developers
result = set(employees).difference(gym_members, developers)
print(result)

{'April', 'Corey'}
{'Jim', 'Steven', 'Judy', 'John', 'Jenn'}
{'Jim', 'John', 'Jenn'}